body {
    align-items: center;
    background: radial-gradient(circle at 10% 20%, rgb(148, 241, 246) 0%, rgb(148, 189, 246) 100.7%);
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    justify-content: center;
    min-height: 100vh;
}

.weather-app {
    border-radius:30px;
    box-shadow: 4px 3px 12px 0px rgba(0, 0, 0, 0.39);
    background-color: white;
    display: block;
    max-width: 600px;
    margin: 50px auto;
    padding:50px;
}

#search-text-input{
    background-color: #f3f4f9;
    border-radius: 10px;
    border-style:none;
    color: black;
    margin: 20px;
    padding:15px;
    width: 400px;
}

#search-input{
    border-radius: 10px;
    border: none;
    background-color:#5da6de; 
    color: whitesmoke; 
    padding: 15px;
    width: 100px;
} 

hr{ 
    background-color: #efe3f0f9;
    border: none;
    height: 1px;
}

.city-weather-container{
    display: flex;
    flex-direction: row;
}

.city {
    color: #c884a6;
    font-size: 25px;
}

.city-weather-details{
    flex-grow: 2;
    text-align: left;
    font-weight: 350;
}

#current-date-stats {
    font-weight: bold;
}

#current-date-stats span{
    text-decoration: underline;
    font-weight: 350;
}

.city-temperature-container{
    display: flex;
    flex-grow: 1;
    text-align: center;
    margin: 20px ;
}

.city-weather-icon{
    font-size: 44px;
    flex-grow: 1;
    margin-top: 22px;
}

.city-weather-temperature {
    color: #c884a6;
    font-size: 90px;
    flex-grow: 2;
    text-align: center;
    font-weight: 300;
    margin-left: 10px;
}

.temperature-unit{
    color: #c884a6;
    flex-grow: 1;
    font-size: 25px;
    text-align: center;
    font-weight: 300;
    padding-top: 10px;
}

.weather-forecast-container{
    display: flex;
    flex-direction: row;
   margin: 30px 0px;
    justify-content: space-between;
}

.weather-forecast-date{
    margin-bottom: 15px;
    text-align: center;
    font-weight: 350;
}

.weather-forecast-icon{
    margin: 10px;
    font-size: 50px;
    text-align: center;
}

.weather-forecast-temperature{
    color:#c884a6 ;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    text-align: center;
}

.weather-forecast-temperature-max{
    margin: 0px 10px;
}

.weather-forecast-temperature-min{
margin: 0px 10px;
}

footer {
    display: block;
    margin-top: 40px;
    text-align: center;
}

a {
    color: #c884a6;
}
